/* Reset default margin, padding, and box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    background-color: rgb(1, 29, 29);
    font-family: 'Lucida Sans', 'Lucida Grande', Geneva, Verdana, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

#content-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.nav {
    margin-top: 20px;
    text-align: center;
}

.nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav ul li {
    display: inline-block;
    margin-right: 10px;
}

.nav-button {
    text-decoration: none;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

.nav-button:hover {
    background-color: #555;
}
